@model Admin.Models.Movies

@{
    ViewData["Title"] = "Create";
}

<h4>Create Movie</h4>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row mb-3">
        <div class="col-3">
            <label asp-for="Title" class="control-label"></label>
        </div>
        <div class="col-9">
            <div class="form-group">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
    </div>
  @* <div class="row mb-3">
        <div class="col-3">
            <label asp-for="PortraitImage" class="control-label"></label>
        </div>
        <div class="col-9">
            <div class="form-group position-relative">
                <input id="file" class="form-control" type="file" accept="image/*" onchange="loadFile(event)">
                <input type="hidden" asp-for="PortraitImage" id="data-img"/>
                <div id="upload" class="upload-img">
                    <img id="display-img" class="m-3 img-100"/>
                    <button type="button" class="p-0 close-btn hide" onclick="removeImage()" id="close">
                        <i class="fa fa-times-circle fa-xl" aria-hidden="true"></i>
                    </button>
                </div>
                <span asp-validation-for="PortraitImage" class="text-danger"></span>

            </div>
        </div>
    </div> *@
   
    <div class="row mb-3">
        <div class="col-3">
            <label asp-for="Description" class="control-label"></label>
        </div>
        <div class="col-9">
            <div class="form-group">
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
            <label asp-for="Genre" class="control-label"></label>
        </div>
        <div class="col-9">
            <div class="form-group">
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
            <label asp-for="Duration" class="control-label"></label>
        </div>
        <div class="col-9">
            <div class="form-group">
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
            <label asp-for="Language" class="control-label"></label>
        </div>
        <div class="col-9">
            <div class="form-group">
                <input asp-for="Language" class="form-control" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
            <label asp-for="Price" class="control-label"></label>
        </div>
        <div class="col-9">
            <div class="form-group">
                <input asp-for="Price" class="form-control" type="number" min="0.00" step="0.01"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group text-end">
        <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("Index", "Movies" )'">
            Back
        </button>
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        //$(document).ready(function() {
        //    var output = document.getElementById('display-img');
        //    var close = document.getElementById('close');
        //    if(output.src == null || output.src === "" ){
        //        output.classList.remove("img-100");
        //        close.classList.add("hide");
        //     }else{
        //         output.classList.add("img-100");
        //         close.classList.remove("hide");
        //     }
        //});

        //var loadFile = function(event) {
        //    var reader = new FileReader();
        //    var dataImage = "";
        //    reader.onload = function(){
        //        var img = document.getElementById('upload');
        //        img.classList.remove("hide");

        //        var output = document.getElementById('display-img');
        //        output.src = reader.result;
        //        output.classList.add("img-100");

        //        var close = document.getElementById('close');
        //        close.classList.remove("hide");

        //        document.getElementById("data-img").value = reader.result;
        //    };
        //    reader.readAsDataURL(event.target.files[0]); 
        //};

        //function removeImage(){
        //    var output = document.getElementById('display-img');
        //    output.src = null;
        //    document.getElementById("data-img").value = null;
        //    output.classList.remove("img-100");

        //    var img = document.getElementById('upload');
        //    img.classList.add("hide");
        //}
        function onChangePortraitImage (img) {
            var output = document.getElementById('portrait-img');
            output.src = img; 
        };

        function onChangeLandscapeImage (img) {
            var output = document.getElementById('landscape-img');
            output.src = img; 
        };
    </script>
}

 <style>
    .img-100{
        width:100px; 
        height: 100px; 
        object-fit: cover;
    }

    .img-200x100{
        width:200px; 
        height: 100px; 
        object-fit: cover;
    }
/*
    .upload-img{
        position: absolute;
        top: 10px;
        left: 0;
    }

    input#file {
      width: 100%;
      padding: 140px 0 0 0;
      height: 100px;
      overflow: hidden;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png') center center no-repeat #e4e4e4;
      border-radius: 20px;
      background-size: 60px 60px;
    }

    .close-btn{
        margin-left: -26px;
        position: absolute;
        background-color: white;
        border-radius: 50%;
    }

    .hide{
        display:none;
    }*/
</style>
